snippet class

#pragma once

////////////////////////////////////////////////////////////////////////////////

class $1 {


    //////////////////// DATA MEMBERS //////////////////////

    public: 


    //////////////////// MEMBER FUNCTIONS /////////////////

    public:

    //////////////////// CONSTRUCTOR FUNCTIONS /////////////////
    
    public: 
    
        $1();

         ~$1(){}


};
endsnippet
